$green: #2a8375;
$blue: #315494;
$form_text: #08204a;



.indicator_container{
    width: 100%;
    height: 450px;
    background-color: #e1e7ec;
    border-bottom: 2px dotted white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px;
    h1{
        color: $blue;
        margin-bottom: 50px;
        font-weight: 400;
        font-size: 40px;
    }
    p{
        line-height: 2;
        font-size: 15px;
        color: rgb(8,32,74);
        font-weight: lighter;
        opacity: 0.7;
    }
}

.cards_container{
    width: 100%;
    min-height: 300px;
    padding: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #e1e7ec;
    div{
        width: 47%;
        min-height: 550px;
        margin-bottom: 6%;
        img{
            width: 100%;
            height: 55%;
            margin-bottom: 40px;
        }
        h2{
            color: $blue;
            font-weight: lighter;
            margin-bottom: 40px;
        }
        p{
            color: $form_text;
            font-size: 15px;
            opacity: 0.7;
            line-height: 2;
        }
    }
}

.form_container{
    display: flex;
    flex-direction: row-reverse;
    // border: 1px solid black;
    width: 100%;
    height: 1000px;

    .bg_container{
        width: 50%;
        height: 100%;
        // border: 1px solid black;
        background-image: url('../public/images/service_bg.jpg');
        background-size: 145%;
        background-position: -80px bottom;
        background-repeat: no-repeat;
    }
    .form_container{
        background-color: $blue;
        width: 50%;
        height: 100%;
        // border: 1px solid black;
            >div{
              width: 100%;
              height: 100%;
              // border: 1px solid black;
            //   background-color: $blue;
              padding: 100px;
              display: flex;
              flex-direction: column;
              justify-content: center;
          
              >div{
                color: white;
                font:normal normal normal 15px/1.875em avenir-lt-w01_35-light1475496,avenir-lt-w05_35-light,sans-serif;
                height: 150px;
                // border: 1px solid black;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                h2{
                  font-size: 40px;
                  font-weight: 400;
                  color: white;
                  text-align: center;
                  // margin-bottom: 20px;
                }
                div{
                  opacity: 0.9;
                  line-height: 1.5;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  font-size: 18px;
                  text-align: center;
                }
              }
          
              form{
                width: 100%;
                height: 600px;
                display: flex;
                flex-wrap: wrap;
                // border: 1px solid black;
                // flex-direction: column;
                justify-content: space-between;
                align-items: center;
                div{
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  &.half_width{
                      width: 48%;
                  }
                  label{
                    color: white;
                    text-transform: capitalize;
                    margin-left: 5px;
                    margin-bottom: 5px;
                  }
                  input{
                    width: 100%;
                    padding: 0 5px;
                    height: 50px;
                    background-color: transparent;
                    border: 1px solid white;
                    &::placeholder{
                      color: white;
                      margin-left: 5px;
                    }
                  }
                  textarea{
                    width: 100%;
                    height: 120px;
                    background-color: transparent;
                    border: 1px solid white;
                    padding: 0 5px;
                    &::placeholder{
                      color: white;
                    }
                  }
                }
                button{
                  padding: 25px 75px;
                  margin: auto;
                  margin-top: 20px;
                  cursor: pointer;
                  text-transform: capitalize;
                  font-size: medium;
                  background-color: white;
                  color: $form_text;
                  border: 1px solid white;
                }
              }
          
            }
    }
}


.nav_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #e1e7ec;
    a{
      border: 1px solid $blue;
      width: 150px;
      padding: 15px 0;
      text-align: center;
      color: $blue;
      transition: 0.5s;
      text-transform: capitalize;
      &:hover{
        background-color: $blue;
        color: white;
        transition: 0.5s;
      }
    }
  }
  
  .footer{
    display: flex;
    justify-content: center;
    height: 300px;
    padding: 50px 0;
    align-items: center;
    >div{
      height: 100%;
      width: 300px;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
        font-size: larger;
        width: 250px;
        text-align: center;
        color: rgb( 8,32,74);
      }
      p{
        font-size: 14px;
        color: rgb( 8,32,74);
        line-height: 1.79em;
        opacity: 0.7;
      }
      div{
        opacity: 0.7;
        line-height: 1.79em;
        display: inherit;
        flex-direction: inherit;
        align-items: inherit;
        font-size: medium;
        color: rgb( 8,32,74);
      }
    }
  }